body{
background:#f4f4f4; /* white*/
color:#555; /*light grey */
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
line-height:1.6em;
margin: 0; /* 0 and auto is same */
}

.container{
    width:80%;
    margin:auto; /* 0 and auto is same */
    overflow:hidden; /* it has other 3 values like visible
                        scroll and auto. Try them and see */                        
}

#main-header{
    background-color: coral;
    color:#fff; /* white */
  /*  text-align:center;    we can mention text align also here */
}

#navbar{
    background-color: #333; /* dark charcoal */
    color:#fff;
}

#navbar ul{
    padding: 0;
    list-style-type:none;
}

#navbar li{
    display:inline;
    /*
    padding-right: 15px;
    font-size: 18px;
    */
}

#navbar a{
    color:#fff;
    text-decoration: none; /* remove the undeline */
    font-size: 18px;
    padding-right: 15px;
    /* you could've mention padding and font size values 
      in the navbar li also as shown above */       
}

#showcase{
    background-image: url('../images/showcase.jpg');
    background-position: center right; /* first try without mentioning background-position
                                        and then see the difference */

    min-height: 300px;   /* min height makes the page more responsive.
                            Here if we have mention only height then the content/text inside 
                            the box will get clipped outside the box when we move our page
                            so to tackle it we use min-height. Try it */
    margin-bottom: 30px;
    text-align: center;                               
}

#showcase h1{
color: #fff;
font-size: 50px;
line-height: 1.6em; /* line-height increses the height between two lines */
padding-top: 30px;
}

#main{
    float:left;
    width:70%;
    padding:0 30px;
    box-sizing: border-box; /*  refer:- https://www.w3schools.com/css/css3_box-sizing.asp */
}

#sidebar{
    float:right;  /* here if we have set flaot value as left then also there is no change in the page.
                    Don't know the exact reason but maybe it could be due to width values that we have set   */
    width:30%;
    background-color: #333; /* dark charcoal */
    color: #fff; /* white */
    padding:10px;
    box-sizing: border-box;
}

#main-footer{
background-color: #333; /* dark charcoal */
color:#fff;
text-align:center;
padding: 20px;
margin-top:40px;
}

@media(max-width:600px){  /* here the media query is used for #main and #sidebar 
                             to make them more responsive when we move the page.
                             See changes by quoting the media query. 
                             Also the max-width:600px means that whatever style we are going
                             to use under this media query will only work if the content is 
                             under 600px. We can change the value of max-width according to our needs  */
    #main{
        width:100%;
        float:none;
    }

    #sidebar{
        width:100%;
        float:none;
    }
}





